body {
    width: fit-content
}

.big {
    color: blue;
}

.container .asteroid {
    border: 1px solid green;
}

div {
    font-weight: bold;
}

p.asteroid {
    background: yellow;
}

.b329 {
    margin-bottom: 48px;
}

.box {
    max-width: 500px;
    margin-bottom: 12px;
    border: 1px solid black;
    padding: 8px;
}

.hover:hover {
    background: orange;
}

.box-1 {
    border: solid 3px lightblue;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    width: fit-content;
    padding: 12px;
}

.box10 {
    height: 50px;
    width: 50px;
    background: blue;
    margin: 8px;
}

.box20 {
    height: 50px;
    width: 50px;
    background: purple;
    margin: 8px;
}

.orange {
    background-color: orangered;
}